body {
  text-align: center;
}
.board {
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto auto 40px auto;
  font-family: Verdana;
  font-weight: bold;
  font-size: 24px;
}

.frame-inactive {
  border: solid firebrick;
  font-size: 18px;
  font-weight: 200;
}

.frame-active {
  border: solid seagreen;
  font-size: 18px;
  font-weight: 200;
}

.first-shot {
  padding: 0px 5px;
}
.second-shot {
  padding: 0px 5px;
  border-bottom: solid black;
  border-left: solid black;
}
.score {
  width: 100%;
}

.keypad {
  margin: 40px auto auto auto;
  text-align: center;
}

.btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: transparent;
  cursor: pointer;
  border-color: black;
  border-width: 3px;
}
.btn:hover {
  font-size: 26px;
  font-weight: 500;
}
.next-frame {
  width: 80px;
  height: 80px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2em;
  background: transparent;
  cursor: pointer;
  border-color: black;
  border-width: 3px;
}
