body {
  text-align: center;
}
.board {
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em 0em 5em 0em;
  font-family: Verdana;
  font-weight: bold;
  font-size: 24px;
}

.frame-inactive {
  border: solid firebrick;
  font-size: 18px;
  font-weight: 200;
}

.frame-active {
  border: solid seagreen;
  font-size: 18px;
  font-weight: 200;
}

.first-shot {
  padding: 0px 5px;
}
.second-shot {
  padding: 0px 5px;
  border-bottom: solid black;
  border-left: solid black;
}
.score {
  width: 100%;
}

/* ===================== Keypad =================== */
.table {
  width: 10%;
  margin: 20px auto auto auto;
  text-align: center;
  padding: none;
}

.btn-primary {
  width: 60px;
}
